<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TestSuite">
<!-- <listeners>
   <listener class-name="org.uncommons.reportng.HTMLReporter"/>
   <listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
</listeners> --> 
  <test name="Regression1">
    <classes>
      <class name="com.maven.testcases.CalorieCalcHTTestCase"/>
       <class name="com.maven.testcases.CalorieCalcHTTestCaseClass"/>
        <class name="com.maven.testcases.ChangeDropdownValues"/>
         <class name="com.maven.testcases.CompositeMouseOp"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
